:root {
  --background-color: #0b0a33;
  --text-color: #e8e8e8;
  --hover-color: #292863;
  --border-color: #5b5a9e;
  --poll-bg-color: #505091;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background: var(--background-color); 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

body, section, select {
	color: var(--text-color) !important;
	background-color: var(--background-color)!important;
}

nav, header {
	background-color: var(--background-color)!important;
	border-color: var(--background-color) !important;
}

h1,h2,h2>a,h3 {
	color: var(--text-color)!important;
}

h1.entry-title > a {
	color: var(--text-color)!important;
}

div {
	background-color: var(--background-color) !important;
	color: var(--text-color) !important;
	border-color: var(--border-color) !important;
}

footer {
	background-color: var(--background-color)!important;
}

div.header-title-text {
	color: var(--text-color) !important;
}

div.chat-bubble,  div.chat-bubble > div > div, div.chat-bubble > div > div > p, div.chat-bubble > div > div > a {
	background-color: var(--hover-color) !important;
}

div.chat-bubble-self > div,  div.chat-bubble-self > div > div > div, div.chat-bubble-self  > div > div > div > p, div.chat-bubble-self > div > div > div > a {
	background-color: var(--border-color)!important;
}

div.page-section-description > a {
	color: #c7c3c3!important;
}

div.comment-card-header > a {
	color:var(--text-color)!important;
}

div.hero-unit.pg-card, div.pg-card.text-center {
	border: none;
}

span {
	color: var(--text-color) !important;
}

button, a.pg-btn, a.btn, a.btn-green,ul.menu > li > a {
	background-color: var(--background-color) !important;
	color: var(--text-color)  !important;
	border-color: var(--border-color) !important;
}

a.pg-btn, a.btn, a.btn-green,ul.menu > li > a, button.pg-btn, button.btn-default, .RichEditor-styleButton {
	background-color: var(--hover-color) !important;
}

#pg-login-btn-nt, #pg-create-account-btn-nt {
	border: 1px solid;
}

p {
	color: var(--text-color)  !important;
}

li {
	color: var(--text-color) !important;
}

li.menu-item > a {
	color: var(--text-color) !important;
}

ul {
	border-color: var(--background-color) !important;
}

a.active {
	color: var(--text-color) !important;
	border-bottom: white !important;
}

a.tab {
	color: var(--text-color) !important;
}

a.tab:hover {
	background-color: var(--hover-color)!important;
	color: var(--text-color)!important;
}

a.notification-item {
	border-color: var(--background-color)!important;
	background-color: var(--background-color)!important;
}

a.notification-item:hover {
	border-top: solid 0.5px!important;
		border-bottom: solid 0.5px!important;
	border-color: var(--border-color)!important;
}

a.card, a.college-card {
	background-color: var(--background-color)!important;
}

a.pg-badge {
	background-color: var(--text-color)!important;
	color: var(--background-color)!important;
	border: 1px solid;
	border-color: var(--text-color)!important;
}

a.ais-pagination--link {
	border-color: var(--border-color)!important;
	color: var(--text-color)!important;
}

.article-card.card:before, .article-card.comments-area:before, .article-card.college-card:before, .article-card:before {
	background: var(--border-color)!important;
}

.flex-container {
	color: var(--text-color) !important;
	background-color: var(--background-color) !important;
	border-color: var(--border-color) !important;
}

.card-list-item, .list-card-item, .list-card-footer {
	background-color: var(--background-color) !important;
	border-color: var(--border-color) !important;
}

.card-list-item:hover, .list-card-item:hover, .list-card-footer:hover {
	color: #c7c3c3!important;
}

.comment-item:hover {
	background-color: var(--background-color) !important;
	border-color: var(--border-color)!important;
	border-bottom: 1px solid;
	border-top: 1px solid;
}

.user_mention, .pg-breadcrumbs>span>a, a.text-muted, span.tags-links>a, span.cat-links>a, span.author>a, span.posted-on>a>time, div.text-muted>a {
	color: #c7c3c3 !important;
}

div.DraftEditor-editorContainer > div > div > div > div > a {
	background-color: var(--background-color)!important;
}


div.entity-content > div > p > a {
	color: #c7c3c3!important;
}

div.entity-content.truncated:after {
	background: rgb(11,10,51) !important;
	background: linear-gradient(to bottom, rgba(11,10,51,1) 0%, rgba(41,40,99,1) 42%) !important;
}

div.answered > div.progress-bg, div.answeredNotSelected > div.progress-bg {
	background-color: var(--poll-bg-color) !important;
}

div:not(.answeredNotSelected):not(.answered) > div.progress-bg {
	display: none;
}

.header-title-text > a {
	color: var(--text-color) !important;
}

div.modal {
	background-color: transparent!important;
}

div.show, div.dropdown-menu.dropdown-right {
	border-color: var(--hover-color)!important;
	border: solid 0.5px;
}

div.show > a, div.dropdown-menu.dropdown-right > a {
	color: var(--text-color)!important;
	background-color: var(--background-color)!important;
}

div.show > hr, div.dropdown-menu.dropdown-right > hr {
	display: none;
}

div.show > a:hover, div.dropdown-menu.dropdown-right > a:hover  {
	background-color: var(--background-color)!important;
	color: var(--text-color)!important;
	border-bottom: solid 1px;
	border-top: solid 1px;
	border-color: var(--hover-color)!important;
}

#primary-menu > li.current-menu-item > a {
	border-bottom-color: var(--border-color)!important;
}

#primary-menu > li:not(.current-menu-item) > a {
	background-color: var(--background-color)!important;
	border-bottom-color: transparent!important;
}

#primary-menu > li > a:hover,  .pg-navbar-menu > li > a:hover {
	background-color: var(--hover-color)!important;
	color: var(--text-color)!important;
	border-bottom-color: var(--border-color)!important;
}

ul.pg-navbar-submenu, ul.sub-menu, ul.sub-menu > li.current-menu-item {
	background-color: var(--background-color)!important;
}

ul.pg-navbar-submenu > li > a:hover, ul.sub-menu > li > a:hover {
	background-color: var(--background-color)!important;
	border-none;
	border-top: 1px solid;
	border-top-color: var(--border-color)!important; 
	border-bottom: 0.5px solid;
	border-bottom-color: var(--border-color)!important; 
}

div.notifications-dropdown-content > div > a,  {
	background-color: var(--background-color)!important
}

div.notifications-dropdown-content {
	border-color: var(--border-color)!important;
	border: solid 0.5px;
}

div.notifications-dropdown-content > div {
	overflow-x: auto!important;
	overflow-y: hidden;
}

div.btn-tap-arrow {
 	height: 40px!important;
 	background-color: var(--hover-color)!important;
}

div.widget-item {
	border: none;
}

div.widget-item:hover {
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: var(--border-color)!important;
}

span.text-muted > span {
	background-color: var(--background-color)!important;
}

a.read-more-pill {
	background-color: var(--hover-color)!important;
	color: var(--text-color)!important;
}

ul.tabs > li > a {
	color: var(--text-color)!important;
}

ul.tabs > li > a.nav-active {
	color: var(--text-color)!important;
	border-bottom-color: var(--border-color)!important;
}

small {
	color: var(--text-color)!important;
}

input, textarea, label {
	background-color: var(--background-color)!important;
	color: var(--text-color)!important;
	border-color: var(--border-color)!important;
}

p > input {
	border-color: var(--border-color)!important;
}

ul.react-autosuggest__suggestions-list > li:hover {
	background-color: var(--hover-color)!important;
	color: var(--text-color)!important;
}

a.read-link {
	background-color: var(--background-color)!important;
	color: var(--text-color)!important;
}

h2.page-section-title:hover a.clickable-link::after{
	 color: var(--text-color)!important;
}

.ais-pagination--item__active > a {
	background-color: var(--border-color)!important;
}

div.yarpp-related > div > ul > li > a, .widget>ul>li>a {
	background-color: var(--background-color)!important;
	color: var(--text-color)!important;
}

h3 > a {
	color: var(--text-color)!important;
}

div.progress-container {
	border-top-color: var(--text-color)!important;
}

div.progress-bar > a {
	color: var(--text-color)!important;	
}

section {
	border-color: var(--border-color)!important;
}

svg {
	fill: var(--text-color)!important;
}

i.mdi {
	color: var(--text-color)!important;
}

div.dropdown__content {
	border-color: var(--border-color)!important;
	border: solid 0.5px;
}

div.dropdown__content > ul > li:hover {
	border-bottom: solid 0.5px;
	border-top: solid 0.5px;
	background-color: var(--background-color)!important;
	border-color: var(--border-color)!important;
}

a.card-header, a.card-header>div, a.card-header>div>div, a.card-header>div>div>span, div.card-header, div.card-header>a, div.card-header>a>div, div.card-header>a>div>span, div.card-title,
div.card-title>div, div.card-title>div>div, .notifications-header, div.widget-chat > div.header, div.widget-chat > div.header > div, div.widget-chat > div.header > div > * {
	background-color: var(--hover-color)!important;
}

#pgFooter * {
	background-color: var(--hover-color)!important;
}